body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(189,17,101,1) 0%, rgba(216,67,193,1) 60%, rgba(0,212,255,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.main{
    background-color: white;
    padding: 50px;
    text-align: center;
}
h2{
    margin: 0px 0px 10px 0px;
}
input{
    width: 200px;
    margin: 10px 0px;
    padding: 10px;
}
#btn{
    width: 222px;
    border: none;
    background-color: rgb(67, 190, 238);
    color: white;
    font-size: 17px;
    border-radius: 5px;
    box-sizing: border-box;
}
.error{
    color: rgb(252, 43, 43);
    margin: 0;
    text-align: left;
}
#btn:hover{
    border: 1px solid black;